<div class="content">
    <mat-card appearance="outlined">
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr>
                <td>Donald Trump</td>
                <td>donald&#64;mossad.com</td>
                <td>Jerusalem</td>
            </tr>
        </table>
    </mat-card>
</div>

<button (click)="openDialog()" class="mat-add-user-btn" mat-fab aria-label="Example icon button with a delete icon"
    matTooltip="Add user" aria-label="Button that displays a tooltip when focused or hovered over"
    matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>