<div class="content">
    <mat-card appearance="outlined">
        <table class="user-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>City</th>
                </tr>
                <tr *ngFor ="let user of users$ | async" [routerLink]="['/user/' + user.id]">
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.city }}</td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>

<button (click)="openDialog()" class="mat-add-user-btn" mat-fab aria-label="Example icon button with a delete icon"
    matTooltip="Add user" aria-label="Button that displays a tooltip when focused or hovered over"
    matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>