<mat-card class="user-detail-header">
    <img src="./assets/img/dummy-user.png" alt="">
    <div class="user-details">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2> <br>
        <p>{{ user.email }}</p>
    </div>
</mat-card>

<mat-card class="mat-card-details mt-32">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
        <button mat-icon-button (click)="openEditDialog()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <p>{{ user.street }}</p>
        <p>{{ user.zipCode }} {{user.city }}</p>
    </mat-card-content>
</mat-card>