.mat-drawer-container {
    height: 100vh;
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
    background-color: #ffffff;
}

.mat-sidenav {
    width: 300px;
}

.mat-sidenav-content {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    li {
        display: flex;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        gap: 16px;
        cursor: pointer;
        user-select: none;
        &:focus {
            outline: none;
        } 
        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }
}

.menu-btn {
    cursor: pointer;
    margin-right: 16px;
    background-color: #6aabd1;
    color: whitesmoke;
    border: none;
}

.logo-container {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
    img {
        height: 100%;
    }
    span {
        font-size: 32px;
        color: #4d77a1;
    }
}

.router-container {
    padding: 16px 56px;
}